<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Sayali's Forum Application</title>
</head>
<body>
<p><h1>Sayali's Forum App</h1></p>

<p>
  <a href = "/logout">Logout</a>
  <a href = "/forum">Forum</a>
  <a href = "/upload">Upload/Download</a>
</p>

<form action="/forum" name="forumpost" method="post">
  <textarea id="post_text" class="text" cols="86" rows ="20" name="post_text"></textarea>
  <input type="submit" value="Text" class="submitButton">
<br />
<br />
<p><h2>Current Posts in the Forum</h2></p>
{%for post in posts%}
<a href="{{post}}">{{post[2]}}</a>
<small><DD>Created by <a href="{{post}}">{{post[1]}}</a>@ {{post[4]}}</DD></small>
<br />
{%end%}
{% module xsrf_form_html() %}
</form>
